* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #e5e5e5;
  font-family: "Open Sans", sans-serif;
}

.header {
  background: rgba(196, 196, 196, 0.75);
}

.header-container {
  width: 1025px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo:hover {
  opacity: 0.8;
}

.search-wrap {
  width: 295px;
  height: 45px;
  position: relative;
}

.lupe {
  width: 13px;
  height: 13px;
  position: absolute;
  top: 16px;
  left: 13px;
}

.search {
  width: 100%;
  border: none;
  padding: 12px 20px 12px 41px;
  font-size: 14px;
  line-height: 1.5;
  outline: none;
}

.search::placeholder {
  color: #616161;
}

.search:focus {
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
}

.main {
  width: 1025px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  padding: 64px 0 115px 0;
}

.img-wrap {
  position: relative;
}

.img-wrap:hover::after {
  content: "";
  width: 294px;
  height: 301px;
  background: rgba(120, 94, 73, 0.55);
  position: absolute;
  top: 0;
  left: 0;
}

.product-image {
  display: block;
  width: 295px;
  height: 301px;
}

.discount {
  width: 50px;
  height: 50px;
  position: absolute;
  border-radius: 50px;
  padding: 12px 6px;
  top: 24px;
  right: 24px;
  color: #fff;
  z-index: 1;
  font-size: 16px;
  line-height: 1.5;
  cursor: pointer;
}

.discount.red {
  background: #e97171;
}

.discount.green {
  background: #2ec1ac;
}

.discount.yellow {
  background: #ead836;
  padding: 9px 9px;
}

.discount.yellow::after {
  content: url(img/Star\ 1.svg);
  position: absolute;
}

.product-wrap:not(:nth-child(3n + 3)) {
  margin-right: 70px;
}

.product-wrap {
  position: relative;
}

.description-wrap:hover::after {
  content: "";
  width: 294px;
  height: 301px;
  background: rgba(120, 94, 73, 0.55);
  position: absolute;
  top: 0;
  left: 0;
}

.description-wrap {
  background-color: #fff;
  padding: 16px 35px 30px 16px;
  cursor: pointer;
}

.product-wrap:nth-child(n + 4) {
  margin-top: 47px;
}

.product-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.2;
}

.product-description {
  font-size: 16px;
  line-height: 1.5;
  color: #898989;
}

.price {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  margin-right: 12px;
}

.previous-price {
  font-size: 16px;
  line-height: 1.5;
  color: #b0b0b0;
  text-decoration: line-through;
}

.footer {
  height: 70px;
  background: rgba(196, 196, 196, 0.75);
  padding-top: 20px;
}

.footer-container {
  margin: 0 auto;
  width: 1025px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu a {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 600;
  color: #3a3a3a;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 25px;
}

.menu a:hover {
  color: rgba(120, 94, 73, 0.55);
}

.footer-icons a {
  text-decoration: none;
}

.icon {
  width: 35px;
  height: 35px;
  margin-right: 11px;
  margin-left: -6px;
}

.icon:hover {
  fill: rgba(120, 94, 73, 0.55);
}
